body{
	max-width: 100%;/*1024px*/
	font-size: 100%;
	margin: 0 auto;
	background-image: url('../images/bg_resume.jpg');
	background-color: #64b4f1;
	background-repeat: repeat-x;
}

h1 {
	font-family:'Waiting for the Sunrise', cursive;
	margin-left: 9.765625%;
	text-shadow: 0.05em 0.05em #ff0000;
}

.main-nav {
	width: 78.125%;
	margin: 0 auto;
	background: navy;
	overflow: hidden;
	padding: 1.95312%;		
}

ul li {
	width: 31.125%;
	background: #000000;
	list-style-type: none;
	font: 1.5em cambria;
	float: left;
 }
 
 .nav {
	text-decoration: none;
	display: block;
	height: 1.000em;
	line-height: 1.000em;
	text-align: center;
	color: white;
	background: navy;
} 

a:hover{
	color: #ffffff;
	font-size: 0.9375em;
}

a:visited{
	color: silver;
}

a:active{
	color: #0099FF;
}	

.intro-paragraph {
	width: 78.125%;
	height: 39.0625%;
	clear: both;
	background-color: #0099FF;
	margin: auto;
	margin-bottom: 0;
	padding: 1.95312%;
	-moz-column-count: 3;
	font: 1.500em cambria;
	overflow: hidden;
}

.intro{
	opacity: 0.5;
}

.career {
	border: 3px solid black;
	width: 100%;
}

section{
	width: 78.125%;
	height: 48.828125%;
	background-image: url("../images/bg_notepad.jpg");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #ffffff;
	margin: auto;
	margin-bottom: 0;
	padding: 1.95312%;
	clear: both;
	margin-top: 0;
	overflow: hidden;	
}

h2{
	font-family: 'Graduate ', cursive;
}

.line-separator{
	height:1px;
	background:#717171;
	border-bottom:0.1em solid #313030;
}

.about li {
	list-style-type: upper-roman;
	background: #ffffff;
	padding: 1.95312%;
	font: 1.5em cambria;
	float: left;
	clear: both;
}

.gallery {
	width:78.125%;
	overflow: hidden;
	list-style-type: none;
	margin: 0 auto;
}

.gallery li {
	float: left;
	width: 12.5%;
	height: 100px;
	display: block;
	border: 0.2em solid #000000;
	overflow: hidden;
	margin: 1.95312% 3.90625% auto;	
}

#sign-up_form{
	width: 78.125%;
	background-color: white;
	background-image: url('../images/blacktiles.jpg');
	background-repeat: repeat-x;
	background-attachment: fixed;
	margin: auto;
	overflow: hidden;
	margin-top: 0;
}

table{
	background: #fff;
	margin: 5% auto;
	border: 0.5em solid #000;
	border-collapse: collapse;
}

th{
	text-align:center;
	background-color:#000000;
	background-image: url("../images/stainless.jpg");
	color: #000;
	font: 1.5em cambria;
	padding: 3%;
	text-shadow: 0.05em 0.05em #09c;
}

td{
	margin: auto;
	padding: 1.0em;
	font: 1.2em cambria;
}
	
form{
	width: 30.5%;
	height: 40%;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.0em;
	font-style: italic;
	line-height: 1.5em;
	font-weight: bold;
	color: #09C;
	border: 0.5em solid #000;
	background-image: url("../images/stainless.jpg");
	padding: 1.0em;
	margin: auto;
}

input{
	width: 100%;
	display:block;
	border: 0.1em solid #999;
	height: 25px;
	margin: auto;
}
	
input:focus{
	background:yellow;
}	

#term{
	font-size: 0.5em;
}

caption{
	font: 1.5em cambria;
}

footer{
	width: 78.125%;
	background-color: navy;
	margin: auto;
	padding: 1.95312%;
	clear: both;
	margin-top: 0;
	overflow: hidden;
	color: white;
}

#up{
	float: right;
}


/* =Media Queries==============================================================*/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1023px){ 
	
.intro-paragraph{
	font-size:1.000em;
	background-color: red;
	}
	.gallery li {
	margin: 1.95312% 3.90625% auto;
	}
}

/* mobile landscape size to tablet portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width:767px){  

.intro-paragraph{
	font-size:1.000em;
	background-color: pink;
		}
section{
	background-image: none;
		}
}

/* mobile portrait size to mobile landscape size (devices and browsers) */
@media only screen and (max-width:479px){ 
	
.intro-paragraph{
	font: 1.0em cambria;
	background-color: purple;
}
.gallery li{
	display: none;
}
section{
	background-image: none;
}
h2{
	font: 1.5em cambria;
	Float: left;
	clear:both;
    }
}


	 