
body{
	font: 14px/1.5 "imprint mt shadow", Arial, helvetica, sans-serif;
	max-width: 960px;
	margin: 50px auto;
	background: purple;
}

#wrapper{
	width: 100%; /*960px*/
	height: 0 auto;
	background: ornage;
	border: 3px solid black;
	overflow: hidden;
}
	
h1{
	text-align: center;
	width: 99.375%;
	background-color: orange;
	border: 3px solid yellow;
	margin: 0 auto;
	font-family:"apple chancery";
	text-shadow: 2px 5px 2px white; 
}

nav{
	background-color: green;
	width: 99.375%;
	Border: 3px solid green;
	float: left;
	font-weight: bold;
}

#button{
	float: left;
}

img{
	border: 4px solid green;
	width: 200px; /*200px/960px*/
	overflow: clear;
	float: left;
}

h4{
	font-family: 'Diplomata SC', cursive, arial, helvetica, sans-serif;
	color: purple;	
}

#bio{ 
	background-color: orange;
	width:100%;
	height: 0 auto;
	-moz-column-count: 3;
}



button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 8px 20px;
	background: -moz-linear-gradient(
		top,
		#bb12c4 0%,
		#b311c2 48%,
		#a814a3 50%,
		#000000 65%,
		#73038f);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#bb12c4),
		color-stop(0.48, #b311c2),
		color-stop(0.50, #a814a3),
		color-stop(0.65, #000000),
		to(#73038f));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 3px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.6),
		inset 0px 0px 5px rgba(161,035,173,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.6),
		inset 0px 0px 5px rgba(161,035,173,0.6);
	text-shadow:
		8px 7px 3px rgba(255,255,255,1),
		0px -1px 0px rgba(255,255,255,1);
	
}



li{
	float: right;
	margin-left: 15px;
	list-style-type: none;
	
}

a:link{
	color: orange;
}

a:visited{
	color: purple;
}
		
a:hover{
	color: yellow;
}

a:active{
	color: blue;
}

section{
	border: 1px solid green;
	list-style-type: none;
	width: 690px;
	margin: 20px auto;
	overflow: hidden;
	padding: 5px;

}

#gallery{
	float: left;
	margin-left: 19px;

}

a:visited{
 	border-color: purple;
 }
 
a:hover{
 	border-color: yellow;
}

a:active{
	border-color: black;
}

aside{
	width: 658px;
	height: 400px;
	background-color: orange;
	padding: 10px;
	border: 6px solid yellow;
	color: black; 
	text-indent: 20px;
	 
	
}

ol li{
	color: black;
	list-style-type: circle;
	text-align: left;
}
