body{
	max-width: 100%;/*1024px*/
	font: 100% "helvetica Neue";
	background-color: black;
	background-image: url('../images/bg_leaf.jpg');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-attachment: fixed;
	margin: auto;
	padding: 2% 8.6914063% 0 8.6914063%;
}

#wrapper{
	margin: auto;
	width: 96.386719%;/*987px*/
}

h1 {
	font-family:'Signika', sans-serif;
	margin: auto;
	color: white;
	text-shadow: 0.05em 0.05em 1em orange;
	clear: both;
}

nav{
	overflow: hidden;
	margin: 3% 3% 3% 13%;
}

ul li {
	width: 6.0790274%; /*60p*/
	font: 100% cambria;
	float: right;
	padding-right: 3%;
	text-align: center;
}
 
.nav {
	text-decoration: none;
	display: block;	
} 

a:hover{
	color: green;
	font-size: 0.75em; /*12px*/;
}

a:visited{
	color: silver;
}

a:active{
	color: orange;
}	

.cta{
	background-color: #fff;
	padding: 5% 5% 3% 5%; /*89px 0 55px 0*/
	overflow: hidden;
	margin: auto;
	
}

section{
	width: 28.6727457%; /*283px*/
	height: 36.816406%; /*377px*/
	border: 1px solid #000;
	background-color: #000;
	float: left;
	border-radius: 34px;
}


#cta{
	float: right;
	width: 61.8034448%; /*610px*/
	height: 38.1965552%; /*377px*/
}

article{
	width: 96.386719%; /*987px*/
	-moz-column-count: 3;
	font: .875em helvetica, arial;
	margin: auto;
	padding: 13% 0 2.0507812% 0;
	color: white;
	opacity: 0.7;	
}

h4{
	color: #fff;
	font: 100% cambria; /*16px*/
	padding: 14648438%; /*15px*/
	overflow: hidden;
}

h2{
	font-family:'Signika', sans-serif;
	text-shadow: 0.05em 0.05em 1em  white;
}

.line-separator{
	height:1px;
	background:#717171;
	border-bottom:0.1em solid #313030;
	margin: 2% 8.6914063% 0 12%;
}

aside{
	width:  96.386719%; /*987px*/
	overflow: hidden;
	margin-top: 10%; 
}



#gallery li {
	float: left;
	width: 20.2634245%; /*200px*/
	height: 14.0625%;/*144px*/
	display: block;
	border-radius: 1.3em;
	overflow: hidden;
	padding-top: 3%;
	margin: 0 4% 0 0;
}

footer{
	width: 96.386719%; /*987px*/
	height: 36.816406%; /*377px*/;
	color: white;
	background-color: orange;
	margin: 0 1.2695312% 0 0; /*0 13px 0 0*/
	padding: 2% 2% 5% 3%;
	font: 100% helvetica; /*16px*/
	text-align: center;
}

#up{
	float: right;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: .875em Helvetica;
	padding: .5em 2em .55em;
	text-shadow: 0 .05em .05em orange; 
	border-radius: .5em;
	box-shadow: 0 .05em .5em  rgba(0,0,0,.2);
	float: right;
 	margin: 2% 2% 2% 2%; 
 	clear: both;
}

.button:hover {
	text-decoration: none;
	font: .875em Helvetica;
}

.button:active {
	position: relative;
	top: .05em;
}

.orange {
	color: #fef4e9;
	border: solid .05em #da7c0c;
	background: #f78d1d;	
}

.orange:hover {
	background: #f47c20;	
}

.orange:active {
	color: green;
}	
 
 /* =Media Queries==============================================================*/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1023px){ 
	
	aside{
		width:  96.386719%; /*987px*/
		overflow: hidden;
		margin: 10% 0 2% 0; 
		padding: 0 2% 0 2%;
	}
	
	.line-separator{
		display: none;
	}

	#gallery li {
		float: left;
		width: 20.2634245%; /*200px*/
		height: 14.0625%;/*144px*/
		display: block;
		border-radius: 1.3em;
		overflow: hidden;
		padding-top: 3%;
	}

}

/* mobile landscape size to tablet portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width:767px){  

	
	aside{
		display: none;
	}
		
	article{
		width: 96.386719%; /*987px*/
		font: .6875em helvetica, arial;
		margin: auto;
		padding: 13% 0 2.0507812% 0;
		color: white;
		opacity: 0.7;	
	}	
	
	nav{
		width: 96.386719%;/*987px*/
		overflow: hidden;
		margin: 3% 0 3% 10%;
		padding-right: 13%;
	}
}

/* mobile portrait size to mobile landscape size (devices and browsers) */
@media only screen and (max-width:479px){ 
	

	aside{
		display: none;
	}
	
	#cta{
		display: none;
	}
	
	#wrapper{
	margin: auto;
	width: 50%;/*493.5px*/
	}
	
 	img{
 		display: none;
 	
 	}
}


