body{
	max-width: 100%;/*1024px*/
	font: 100% "helvetica Neue";
	background-color: black;
	background-image: url('../images/bg_leaf.jpg');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-attachment: fixed;
	margin: auto;
	padding: 2% 8.6914063% 0 8.6914063%;
}

#wrapper{
	margin: auto;
	width: 96.386719%;/*987px*/
}

h1 {
	font-family:'Signika', sans-serif;
	color: white;
	text-shadow: 0.05em 0.05em 1em orange;
	clear: both;
	margin-left: 3%;
}

nav{
	overflow: hidden;
	margin: 3% 1% 2% 0;
}

ul li {
	font: 100% cambria;
	float: right;
	text-align: center;
	margin: 2% 3% 0 0;
}
 
.nav {
	text-decoration: none;
	display: block;
		
} 

a:hover{
	color: green;
	font-size: 0.75em; /*12px*/;
}

a:visited{
	color: silver;
}

a:active{
	color: orange;
}	

.cta{
	width: 96.386719%;/*987px*/
	height:28.6727457%; /*283px*/
	background-color: #fff;
	overflow: hidden;
	margin: auto;
	
}

section{
	width: 23.6068896%; /*233px*/
	border: 1px solid #000;
	background-color: #000;
	float: left;
	border-radius: 34px;
	overflow: hidden;
	margin: 5% 0 0 7%;
	padding: 0 2% 3% 2%;
}




h4{
	color: #fff;
	font: 100% cambria; /*13px*/
	clear: both;
	margin: 8% 0 3% 0%;
}

h2{
	font-family:'Signika', sans-serif;
	text-shadow: 0.05em 0.05em 1em  white;
}

.line-separator{
	height:1px;
	background:#717171;
	border-bottom:0.1em solid #313030;
	margin: 2% 0 0 0;
}



table{
	background: #fff;
	margin: 5% 10% 0 2%;
	border: 0.5em solid #000;
	border-collapse: collapse;
	float: right;
	clear: both;
}

th{
	text-align:center;
	background-color:#000000;
	background-image: url("../images/stainless.jpg");
	color: #000;
	font: 1.5em cambria;
	padding: 3%;
	text-shadow: 0.05em 0.05em #09c;
}

td{
	margin: auto;
	padding: 1.0em;
	font: 1.2em cambria;
}
	
form{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 80%;
	font-style: italic;
	line-height: 1.5em;
	font-weight: bold;
	color: white;
	border: 0.5em solid #000;
	background-image: url("../images/stainless.jpg");
	padding: 1.0em;
	margin: auto;
}

input{
	width: 93%;
	display:block;
	border: 0.1em solid #999;
	height: 25px;
	margin: auto;
}
	
input:focus{
	background:yellow;
}	

.terms{
	font-size: 50%;
}

caption{
	font: 1.5em cambria;
}

footer{
	width: 96.386719%; /*987px*/
	height: 36.816406%; /*377px*/;
	color: white;
	background-color: orange;
	margin: 5% 4% 0 0;
	padding: 2% 2% 5% 0;
	font: 100% helvetica; /*16px*/
	text-align: center;
	float:left;
}



.button {
	width: 70%;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: .875em Helvetica;
	padding: .5em 2em .55em;
	text-shadow: 0 .05em .05em orange; 
	border-radius: .5em;
	box-shadow: 0 .05em .5em  rgba(0,0,0,.2);
	float: left;
 	margin: 2% 8% 2% 8%; 
 	clear: both;
}

.button:hover {
	text-decoration: none;
	font: .875em Helvetica;
}

.button:active {
	position: relative;
	top: .05em;
}

.orange {
	color: #fef4e9;
	border: solid .05em #da7c0c;
	background: #f78d1d;
	float: left;
	margin: 2% 0 2% 5%;	
}

.orange:hover {
	background: #f47c20;	
}

.orange:active {
	color: green;
}	

 

 

	
/* =Media Queries==============================================================*/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:960px){ 
	
section{
	width: 80%; 

}

.green {
	color: #fef4e9;
	border: solid .05em green;
	background: green;	
	width: 50%;
	margin: auto;
	float: left;
	margin: 5% 0 5% 21%;
}

.cta{
	padding-left: 2%;

}

#cta{
	float: left;
	margin: 5% 0 5% 16%;

}

h4{
	font-size: 100%;

}

#gallery{
	display: none;
}

article{
	font: 72% helvetica, arial;	
}

table{
	margin: 5% 19% 0 2%;
}

.button{
	width: 60%;
	line-height: .8em;
	margin-left: 17%;
	margin-top: 5%;

}
}

/* mobile landscape size to tablet portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width:767px){ 



section{
	width: 80%; 

}

.green {
	color: #fef4e9;
	border: solid .05em green;
	background: green;	
	width: 50%;
	margin: auto;
	float: left;
	margin: 5% 0 5% 18%;
}

.cta{
	padding-left: 2%;

}

#cta{
	display: none;

}

h4{
	font-size: 100%;

}

#gallery{
	display: none;
}

article{
	font: 60% helvetica, arial;		

}

ul li {
	font: 60% cambria;
	float: right;
	text-align: center;
	padding-right: 3%;
	
}

.button{
	width: 50%;
	line-height: .5em;
	margin-right: 20%;

}
 
}
/* mobile portrait size to mobile landscape size (devices and browsers) */
@media only screen and (max-width:479px){ 
	 
	
section{
	width: 80%; 

}

.green {
	color: #fef4e9;
	border: solid .05em green;
	background: green;	
	width: 50%;
	margin: auto;
	float: left;
	margin: 5% 0 5% 21%;
}

.cta{
	padding-left: 2%;
	padding-bottom: 5%;

}

#cta{
	display: none;

}

h4{
	font-size: 100%;

}

#gallery{
	display: none;
}

article{
	font: 60% helvetica, arial;		

}

ul li {
	font: 60% cambria;
	float: right;
	text-align: center;
	padding-right: 5%;
}

.orange{
	width: 67%;
	line-height: .5em;
	margin: 5% 15% 5% 5%;
}


table{
	margin: 5% 3% 0 3%;
}

 	
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	